<div id="mainboard-selection" [formGroup]="ordForm">
  <div class="form-group" formGroupName="mainboardStep">
    <mat-form-field>
      <mat-label for="mainboard">Placas-mãe</mat-label>
      <mat-select [(value)]="mboard" formControlName="mainboard" (selectionChange)="checkProcessor($event)">
          <mat-option *ngFor="let board of mainboards" [value]="board">{{ board.name }} ({{ board.supportedProcessors|join}})</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <button type="button" class="btn btn-warning btn-lg" matStepperPrevious>
    <i class="fas fa-arrow-circle-left"></i>
    Voltar
  </button>
  &nbsp;
  <button type="button" class="btn btn-primary btn-lg" matStepperNext (click)="submitMainboard()">
    Prosseguir
    <i class='fas fa-arrow-circle-right'></i>
  </button>
</div>
